/* src/components/MapBase.css */
.map-base-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-base-table {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-image: url("../../public/floor.jpg"); /* Relative path from the public folder */
  background-size: cover;
  background-repeat: no-repeat;
}

.cell.player {
  background-image: url("../../public/GIFS/IDLE/alien front.gif"); /* Relative path from the public folder */
}

.cell.npc {
  background-image: url("../../public/enemy.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.cell.border {
  background-image: url("../../public/tree.png"); /* Relative path from the public folder */
  background-size: cover;
}

.cell.border-left {
  transform: rotate(90deg);
}

.cell.border-right {
  transform: rotate(-90deg);
}

.cell.border-top {
  transform: rotate(180deg);
}

.cell.border-bottom {
  transform: rotate(0deg); /* Optional, defaults to no rotation */
}
/* media query for cells to fit mobile */
@media (max-width: 600px) {
  .cell {
    width: 35px;
    height: 35px;
  }
}
/* CHARACTHER MODEL */
.cell.player-up {
  background-image: url("../../public/GIFS/MOVING/alien\ front\(move+blink\).gif");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.player-down {
  background-image: url("../../public/GIFS/MOVING/alien\ back\(move+blink\).gif");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.player-left {
  background-image: url("../../public/GIFS/MOVING/alien\ left\(move+blink\).gif");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.player-right {
  background-image: url("../../public/GIFS/MOVING/alien\ right\(move+blink\).gif");
  background-size: cover;
  background-repeat: no-repeat;
}
