/* src/components/MapBase.css */
.map-base-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-base-table {
  display: inline-block;
}
.cell.solid-block {
  background-image: url("../../public/block.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-image: url("../../public/floor3.png"); /* Relative path from the public folder */
  background-size: cover;
  background-repeat: no-repeat;
  /* Adjust the duration and timing function as needed */
}

.cell.player {
  background-image: url("../../public/GIFS/IDLE/alien front.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
.cell.npc {
  background-image: url("../../public/robot_front.gif");
  background-size: cover;
  background-repeat: no-repeat;
  /* background displays black for some reason, and it should be transparent, fix it */
  background-color: transparent;
}

.cell.border {
  background-image: url("../../public/spike\ border.png"); /* Relative path from the public folder */
  background-size: cover;
}

.cell.border-left {
  transform: rotate(90deg);
}

.cell.border-right {
  transform: rotate(-90deg);
}

.cell.border-top {
  transform: rotate(180deg);
}

.cell.border-bottom {
  transform: rotate(0deg); /* Optional, defaults to no rotation */
}
/* media query for cells to fit mobile */
@media (max-width: 600px) {
  .cell {
    width: 35px;
    height: 35px;
  }
}
/* CHARACTHER MODEL */
.cell.player-up {
  background-image: url("../../public/GIFS/MOVING/alien\ front\(move+blink\).gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
.cell.player-down {
  background-image: url("../../public/GIFS/MOVING/alien\ back\(move+blink\).gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
.cell.player-left {
  background-image: url("../../public/GIFS/MOVING/alien\ left\(move+blink\).gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
.cell.player-right {
  background-image: url("../../public/GIFS/MOVING/alien\ right\(move+blink\).gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
.cell.player-left,
.cell.player-right {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
/* MODAL */
.no-scroll {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal p {
  font-family: "ArcadeClassic", sans-serif;
  font-size: 1.5rem;
}
.modal-content {
  background:  url("../../public/bigframe.gif");
  background-color: white;
  padding:60px 30px;
  border-radius: 5px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* MODAL BUTTONS */
.button-wrapper {
  display: flex;
  justify-content: space-around;
}
/* MODAL-WRAPPERS */
.player-img {
  width: 100px;
  height: 100px;
  background-image: url("../../public/GIFS/IDLE/alien\ front.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.player-img-wrapper {
  background-image: url("../../public/card_frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enemy-img {
  width: 100px;
  height: 100px;
  background-image: url("../../public/robot_front.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.enemy-img-wrapper {
  background-image: url("../../public/card_frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}
.player-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "ArcadeClassic", sans-serif;
  background-image: url("../../public/player_backcard.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  margin-right: 15px;
  border-right: 10px solid black;
}
.player-status h3 {
  font-size: 1.5rem;
  color: white;
  animation: blink 0.3s infinite;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}
.player-status p {
  font-size: 1.4rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  animation: blink 0.3s infinite;
}
.enemy-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "ArcadeClassic", sans-serif;
  background-image: url("../../public/enemy_backcard.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  border-left: 10px solid black;
}
.enemy-status h3 {
  font-size: 1.5rem;
  color: white;
  animation: blink 0.3s infinite;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}
.enemy-status p {
  font-size: 1.4rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  animation: blink 0.3s infinite;
}
/* ATTACK BTN */
.attack-modal-btn {
  background-color: rgb(255, 135, 135);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "ArcadeClassic", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.attack-modal-btn:hover {
  background-color: darkred;
  transition: 0.5s;
}
.attack-modal-btn:active {
  transform: translateY(5px);
}
.map-border{
  background-image: url("../../public/spike\ border.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* DEFEND BTN */
.defend-modal-btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "ArcadeClassic", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.defend-modal-btn:hover {
  background-color: darkgreen;
  transition: 0.5s;
}
.defend-modal-btn:active {
  transform: translateY(5px);
}

/* CLOSE BTN */
.close-modal-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "ArcadeClassic", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.close-modal-btn:hover {
  background-color: rgb(66, 66, 66);
  transition: 0.5s;
}
.close-modal-btn:active {
  transform: translateY(5px);
}

/* ATTACKED ANIMATION */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.5s;
}
@media screen and (max-width: 768px) {
  .modal-content {
    padding: 25px;
    /* fit the right and le5ft side to screen */
    width: 75%;
  }
  .enemy-status {
    margin-left: 5px;
  }
}
